@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.Main {
  width: 100%;
  height: auto;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;


}

.cont {
  width: 100%;
  height: 100vh;

}

.Header {
  width: 100%;
  height: 8vh;
  background-color: white;
  box-shadow: 0 0 4px #ccc;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.Header:hover {
  box-shadow: 0 0 10px #ccc;
}

.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.home__container {
  width: 100%;
  height: 94vh;
  overflow-y: scroll;
  padding-top: 10px;
}

.page__container {
  width: 100%;
  height: 80vh;


}

.gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer {
  width: 100%;
  height: auto;
  min-height: 23%;
}

.height {
  height: 97%;
}



::-webkit-scrollbar {
  width: 1px;

}

/* Track */
::-webkit-scrollbar-track {
  height: 5px;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}


.bg-lightgreen {
  background-color: #56e38c;
}

.bg-button {
  background-image: linear-gradient(90deg, rgb(111, 251, 197) 0%, rgb(97, 245, 198) 33%, rgb(82, 235, 187) 100%);

}

.bg-footer {
  background-image: linear-gradient(90deg, rgb(111, 251, 197) 0%, rgb(97, 245, 198) 33%, rgb(82, 235, 187) 100%);

}

.bg-loader {
  background-image: linear-gradient(90deg, rgb(111, 251, 197) 0%, rgb(97, 245, 198) 33%, rgb(82, 235, 187) 100%);

}

.card {
  background-color: white;
  transition: 1s;

}

.card:hover {
  background-image: linear-gradient(90deg, rgb(111, 251, 197) 0%, rgb(97, 245, 198) 33%, rgb(82, 235, 187) 100%);
  color: white;


}